.add-item-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    & input {
        font: var(--paragraph);
        
        &::placeholder {
            color: var(--content-tertiary);
        }
        
    }
}

.items-of-list {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto; 
    height: 400px;
    overflow-x: hidden;
}

.items input[type="checkbox"]::after {
    content: "";
    position: absolute;
    width: 72%;
    height: 100%;    
}

.items input[type="checkbox"]:checked {
    accent-color: var(--color-brand);

}

@media(width >= 1024px) {
    .add-item-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}